swagger: '2.0'
info:
  description: This is the API specification for Linx challenge project
  version: 0.1.0
  title: Linx API
host: api.poc.com
basePath: /v1
schemes:
  - http
consumes:
  - application/json
produces:
  - application/json
tags:
  - name: users
    description: User actions
  - name: urls
    description: Urls management
  - name: stats
    description: System information
    
paths:
  /*:
    options:
      operationId: optionsAllow
      security: []
      produces:
        - application/json
      responses:
        '200':
          description: Successful operation
  /users:
    post:
      tags:
        - users
      summary: Creates new user
      operationId: createUser
      security: []
      parameters:
        - in: body
          name: id
          required: true
          schema:
            $ref: '#/definitions/User'
      responses:
        '200':
          description: Successful operation
          schema:
            $ref: '#/definitions/User'
        default:
          description: error
          schema:
            $ref: '#/definitions/GeneralError'
            
  /user/{userId}:
    delete:
      tags:
        - users
      summary: Delete user
      operationId: deleteUser
      security: []
      parameters:
        - in: path
          name: userId
          type: string
          required: true
      responses:
        '200':
          description: Successful operation
        '404':
          description: User not found
            
  /users/{userId}/urls:
    post:
      tags:
        - users
      summary: Creates new url
      operationId: createUrl
      parameters:
        - in: path
          name: userId
          type: string
          required: true
        - in: body
          name: url
          required: true
          schema:
            type: object
            properties:
              url:
                type: string
      responses:
        '200':
          description: Successful operation
          schema:
            $ref: '#/definitions/Url'
        default:
          description: error
          schema:
            $ref: '#/definitions/GeneralError'
        '404':
          description: User not found

  /urls/{id}:
    get:
      tags:
        - urls
      summary: Get a Url redirection
      description: Get a Url redirection
      operationId: redirectUrl
      parameters:
        - in: path
          name: id
          type: string
          required: true
      responses:
        302:
          description: successful operation
          headers:
            Location:
              type: "string"
        '404':
          description: Url not found
          
    delete:
      tags:
        - urls
      summary: Delete url
      operationId: deleteUrl
      parameters:
        - in: path
          name: id
          type: string
          required: true
      responses:
        '200':
          description: Successful operation
        '404':
          description: Url not found            
            
            
  /stats:
    get:
      tags:
        - stats
      summary: Get system statistics
      description: Get system statistics
      operationId: getSystemStats
      responses:
        '200':
          description: Successful operation
          schema:
            $ref: '#/definitions/Stats'
        default:
          description: error
          schema:
            $ref: '#/definitions/GeneralError'
            
  /stats/{id}:
    get:
      tags:
        - stats
      summary: Get url statistics
      description: Get url statistics
      operationId: getUrlStats
      parameters:
        - in: path
          name: id
          type: string
          required: true
      responses:
        '200':
          description: Successful operation
          schema:
            $ref: '#/definitions/Url'
        default:
          description: error
          schema:
            $ref: '#/definitions/GeneralError'
            
  /users/{userId}/stats:
    get:
      tags:
        - stats
      summary: Get user statistics
      description: Get user statistics
      operationId: getUserStats
      parameters:
        - in: path
          name: userId
          type: string
          required: true
      responses:
        '200':
          description: Successful operation
          schema:
            $ref: '#/definitions/Stats'
        default:
          description: error
          schema:
            $ref: '#/definitions/GeneralError'
          
definitions:
  GeneralError:
    properties:
      code:
        type: integer
        format: int
      message:
        type: string
  User:
    type: object
    properties:
      id:
        type: string

  Url:
    type: object
    properties:
      id:
        type: integer
      hits:
        type: integer
      url:
        type: string
      shortUrl:
        type: string

  Stats:
    type: object
    properties:
      hits:
        type: integer
      urlCount:
        type: integer
      topUrls:
        type: array
        items:
          $ref: '#/definitions/Url'
 
